<div class="card text-center">
  <div class="card-header">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active app-title" href="#">CollabPad</a>
      </li>
      <li class="nav-item mr-auto">
        <span class="nav-link">
          Population <span class="badge badge-secondary">4</span>
        </span>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary">New Pad</button>
      </li>
    </ul>
  </div>
  <div class="card-body">
  </div>
</div>
