/* You can add global styles to this file, and also import other style files */

.ngx-toolbar {
  border: 0 !important;
  border-bottom: 1px solid #ddd !important;
  background-color: rgba(0,0,0,.03) !important;
  text-align: center !important;
}

.ngx-editor-textarea {
  border: 0 !important;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.ngx-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ngx-editor-textarea {
  flex: 1;
}

.ngx-editor-grippie svg {
  display: none;
}
